In [1]:
import xarray as xr
import pandas as pd
import numpy as np
from datetime import datetime

# Load your dataset (adjust the path accordingly)
file_year = 2005
nc_file_path = f'/root/data/rrr/integrated_weather_dataset/data/raw/Rutz_AR_Catalog/Rutz_ARCatalog_MERRA2_2004.nc'  

ds = xr.open_dataset(nc_file_path)

In [ ]:
ds.to_dataframe()

In [2]:
MIN_LON = -120
MAX_LON = -115
MIN_LAT = 31.5
MAX_LAT = 38

In [3]:
ds_filtered = ds.where(
    (ds["latitude"] >= MIN_LAT) & (ds["latitude"] <= MAX_LAT) &
    (ds["longitude"] >= MIN_LON) & (ds["longitude"] <= MAX_LON),
    drop=True
)

In [6]:
df = ds_filtered.to_dataframe()

In [11]:
df["Timestamp"] = pd.to_datetime(
    df[["cal_year", "cal_mon", "cal_day", "cal_hour"]].astype(int).rename(
        columns={"cal_year": "year", "cal_mon": "month", "cal_day": "day", "cal_hour": "hour"}
    )
)

In [14]:
df = df.reset_index().drop(columns=["nlon", "nlat", "ntim"])

In [15]:
result_df = df[["Timestamp", "longitude", "latitude", "IVT", "ARs"]]

In [16]:
result_df

                 Timestamp  longitude  latitude         IVT  ARs
0      2004-01-01 00:00:00     -120.0      31.5   67.215446  0.0
1      2004-01-01 03:00:00     -120.0      31.5   65.255585  0.0
2      2004-01-01 06:00:00     -120.0      31.5   45.925446  0.0
3      2004-01-01 09:00:00     -120.0      31.5   33.749409  0.0
4      2004-01-01 12:00:00     -120.0      31.5   36.337650  0.0
...                    ...        ...       ...         ...  ...
368923 2004-12-31 09:00:00     -115.0      38.0  208.992188  0.0
368924 2004-12-31 12:00:00     -115.0      38.0  235.344757  0.0
368925 2004-12-31 15:00:00     -115.0      38.0  221.132523  0.0
368926 2004-12-31 18:00:00     -115.0      38.0  223.059464  0.0
368927 2004-12-31 21:00:00     -115.0      38.0  188.120209  0.0

[368928 rows x 5 columns]